---
import Site from "../../layouts/Site.astro";
import { getEntryBySlug } from "astro:content";
import { getPublishedPosts, formatPost } from "../../lib/posts";

import "remark-alerts/styles/github-colors-light.css";
import "remark-alerts/styles/github-colors-dark-media.css";
import "remark-alerts/styles/github-base.css";

export async function getStaticPaths() {
  const posts = await getPublishedPosts();
  return posts.map(({ slug }) => ({
    params: { slug },
  }));
}

const { slug } = Astro.params;
const post = await getEntryBySlug("blog", slug);
if (!post.data.published) {
  return {
    status: 404,
  };
}

const { Content } = await post.render();
const { rawTitle, rawDescription, tagList, formattedDate } = formatPost(post);
---

<Site>
  <section class="py-12">
    <hr class="mb-5" />
    <div class="mb-1.5">
      <div class="text-2xl text-black sm:mb-1">
        <Fragment set:html={rawTitle} />
      </div>
      <div class="text-lg leading-snug font-light text-black sm:mb-1">
        <Fragment set:html={rawDescription} />
      </div>
      <div class="flex justify-between items-start mb-3 sm:mb-1">
        <div class="text-sm text-neutral-400">
          {formattedDate}
        </div>
        <div class="text-sm text-neutral-400">
          {tagList}
        </div>
      </div>
      <hr class="mb-6 mt-5" />
      <div class="md-output prose">
        <Content />
      </div>
    </div>
  </section>
</Site>
