---
import Site from "../../layouts/Site.astro";

import PostEntry from "../../components/PostEntry.astro";
import TagList from "../../components/TagList.astro";
import { getPublishedPosts, getTags } from "../../lib/posts";

const posts = await getPublishedPosts();
const listedPosts = posts.filter(({ data }) => !data.unlisted);

const tags = await getTags();
const listedTags = tags.filter(({ data }) => !data.unlisted);
---

<Site>
  <section class="transition py-12">
    <div class="flex justify-between mb-1">
      <div class="flex text-lg">Blog Posts</div>
      <TagList tags={listedTags} />
    </div>
    <div class="grid gap-y-3">
      {listedPosts.map((post) => <PostEntry post={post} />)}
    </div>
  </section>
</Site>
