---
import { getCollection } from "astro:content";
import Site from "../../../layouts/Site.astro";
import { getPublishedPosts } from "../../../lib/posts";

import PostEntry from "../../../components/PostEntry.astro";

export async function getStaticPaths() {
  const tags = await getCollection("tags");
  return tags.map(({ id }) => ({
    params: { tag: id },
  }));
}

const { tag } = Astro.params;
const posts = (await getPublishedPosts()).filter(({ data }) =>
  data.tags.map(({ id }) => id).includes(tag)
);
---

<Site>
  <section class="py-12">
    <div class="flex justify-between mb-1">
      <div class="flex text-lg">Blog Posts</div>
      <div>{tag}</div>
    </div>
    <div class="grid gap-y-3">
      {posts.map((post) => <PostEntry post={post} />)}
    </div>
  </section>
</Site>
