---
import { ArrowUpRight } from "lucide-astro";
import type { Post } from "../lib/posts";
import { formatPost } from "../lib/posts";

interface Props {
  post: Post;
}

const { post } = Astro.props;
const { rawTitle, rawDescription, tagList, formattedDate } = formatPost(post);
---

<a
  href={`/blog/${post.slug}`}
  class="block -mx-3 px-3 py-3 hover:bg-neutral-100"
>
  <div class="mb-0 flex justify-between w-full">
    <div class="text-md text-black">
      <Fragment set:html={rawTitle} />
      <ArrowUpRight size={18} class="inline text-neutral-400" />
    </div>
    <div class="text-sm text-black">
      {formattedDate}
    </div>
  </div>

  <div class="flex justify-between items-start">
    <div class="text-sm leading-snug text-neutral-500">
      <Fragment set:html={rawDescription} />
    </div>
    <div>
      <div class="text-sm text-black">{tagList.join(", ")}</div>
    </div>
  </div>
</a>
