---
import { ArrowUpRight } from "lucide-astro";

const { projects } = Astro.props;
---

{
  projects.map((project: any) => (
    <a class="project-pair" href={project.href}>
      <div class="text-black font-medium">
        {project.name}{" "}
        <ArrowUpRight size={18} class="inline text-neutral-400" />
      </div>
      <div>
        <p>{project.desc}</p>
        {project.aside && <aside>{project.aside}</aside>}
      </div>
    </a>
  ))
}

<style lang="postcss">

  .project-pair {
    @apply grid sm:grid-cols-[1fr,2fr] gap-y-1 -mx-3 px-3 py-2 hover:bg-neutral-100 transition-colors;
  }

  aside {
    @apply mt-0.5 text-base text-neutral-500;
  }
</style>
